body {
    background-color: gainsboro;
}

img{
    height: 800px;
    width: 500px;
    margin-top: 80px;
    position: absolute;
}

.marg{
    margin-top: 300px;
    margin-bottom: 30px;
    font-size: 50px;
}

.font {
    font-size: 20px;
}

.container{
    width: 1400px;
}

.hold{
    margin-top: 198px;
    margin-left: 75px;
}